/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* CSS RESET */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
button figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* RESET END */

body {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

.background {
  background-color: #1a1d24;
}

svg {
  fill: currentColor;
  width: 16px;
  height: 16px;
}

a {
  color: #ffffff;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 13px;
  letter-spacing: 1px;
}

main {
  background-color: #f2f2f2;
}

.wrapper {
  max-inline-size: 1200px;
  margin: auto;
}

.header,
.main-menu,
.tools-menu,
.social-menu {
  display: flex;
}

header {
  margin-inline: auto;
  justify-content: space-between;
  align-items: center;
  height: 89px;
  padding-block: 44px 29px;
}

.logo {
  width: 88px;
  height: auto;
}
.main-menu {
  font-family: "Roboto Condensed", sans-serif;
  /* gap: 26px; */
  font-size: 14px;
  text-transform: uppercase;
}

.main-menu li:not(:last-child)::after {
  content: "/";
  padding-inline: 25px;
}

/* TEMPORALMENTE DESACTIVADO)   .tools-menu {
  gap:100px;
  
} */

.tools-menu .search:not(:last-child)::after {
  content: "|";
  display: inline-block;
  vertical-align: middle;
  padding-inline: 25px;
  color: #bdbdbd;
}

/* !!!!!!!!!PONER A TODOS LOS HOVER. svg:active (realmente no necesario),
.facebook svg:hover{
  color: #ffffff;
} */
.social-menu {
  gap: 26px;
}
.hero-banner {
  position: relative;
  display: flex;
  gap: 30px;
  padding-bottom: 200px;
}

.hero-banner__image {
  max-width: 75%;
  max-height: 610px;
  object-fit: cover;
  flex-basis: 74%;
}
.hero-banner__data {
  position: absolute;
  bottom: 200px;
  right: 0;
  background-color: #1a1d24;
  max-width: 400px;
  padding-top: 33px;
  padding-left: 29px;
}
.hero-banner__tittle {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 37px;
}

.hero-banner__description {
  color: #a8a8a8;
  font-size: 14px;
  line-height: 23px;
  margin-block: 22px;
}

.hero-banner__link {
  display: flex;
  align-items: center;
  gap: 6px;
}

.hero-banner__link svg {
  display: inline-block;
  width: 20px;
  height: 20px;
  stroke: #e0041d;
}
/* empieza el aside */
aside {
  width: 25%;
}

.aside__tittle {
  margin-bottom: 32px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 17px;
  text-transform: uppercase;
}

.aside__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.aside__item {
  display: flex;
  gap: 20px;
  font-family: "Roboto Condensed", sans-serif;
}

.aside__subtittle {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  margin-bottom: 4px;
  display: flex;
}
.aside__date {
  color: #a8a8a8;
  font-size: 11px;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
}

.slider {
  display: flex;
  height: 400px;
  gap: 20px;
}
.slider-films {
  position: relative;
  top: -100px;
}

.slider-films__buttons {
  margin-bottom: 34px;
}

.slider-films__button {
  background-color: transparent;
  border: 0;
  color: #b8b8b8;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1.1px;
}

.slider-films__button:active,
.slider-films__button:hover {
  color: #ffffff;
}

.slider-films__button:not(:last-child):after {
  content: "/";
  display: inline-block;
  vertical-align: middle;
  padding-inline: 25px;
  color: #bdbdbd;
}

.slider__slide {
  display: flex;
  position: relative;
  align-items: end;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20%;
  height: 100%;
}

.slider__slide > div {
  padding: 18px;
}

.slider__slide-data h3 {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 17px;
}

.slider__slide svg {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  padding: 15px;
}

.slider__slide:hover svg {
  /* preguntar lo de los hijos directos slide > svg (div de por medio en este caso) */
  border: 2px solid rgba(255, 255, 255, 1);
}

.slider__slide-data a {
  /* padding: 18px; */
  font-family: "Roboto", sans-serif;
  display: inline-block;
  margin-top: 5px;
  font-size: 13px;
  padding-right: 2px;
  text-transform: capitalize;
  color: #bdbdbd;
}

.slide1 {
  background-image: linear-gradient(transparent 50%, #00000080),
    url(images/post-18-copyright-485x665.jpg);
}
.slide2 {
  background-image: linear-gradient(transparent 50%, #00000080),
    url(images/post-19-copyright-485x598.jpg);
}
.slide3 {
  background-image: linear-gradient(transparent 50%, #00000080),
    url(images/post-20-copyright-485x598.jpg);
}
.slide4 {
  background-image: linear-gradient(transparent 50%, #00000080),
    url(images/post-21-copyright-485x665.jpg);
}
.slide5 {
  background-image: linear-gradient(transparent 50%, #00000080),
    url(images/post-22-copyright-485x665.jpg);
}

.bg-image {
  background-image: url(images/bg_samurai.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 80px;
}
.bg-image::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 80px;
  background-color: rgba(255, 255, 255);
  position: absolute;
  top: -80px;
}
.releases {
  display: flex;
  justify-content: end;
  align-items: center;
  min-height: 511px;
  color: #1a1d24;
}

.releases__article {
  width: 50%;
}

.releases__title {
  display: flex;
  flex-direction: column;
  gap: 34px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  color: #737373;
  margin-bottom: 2.3em;
}

.releases__title::before {
  /* asi es como se hacen las rallitas de colores como separadores */
  content: "";
  display: inline-block;
  width: 48px;
  height: 1px;
  background-color: rgb(224, 4, 29);
}

.releases__subtitle {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 37px;
  margin-bottom: 23px;
  text-transform: uppercase;
}

.releases__info {
  display: inline-block;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 2.3em;
}

.releases__info span:first-child {
  margin-right: 2.8em;
}

.releases__description {
  font-family: "Roboto", sans-serif;
  color: #737373;
  font-size: 15px;
  margin-bottom: 2.3em;
  text-align: start;
}

.releases__actions {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.releases__link {
  color: #1a1d24;
}

.releases__link:first-child {
  color: #e0041d;
  margin-right: 20px;
}
.portraits {
  display: flex;
  height: 400px;
}

.portraits__films {
  display: flex;
  position: absolute;
  align-items: start;
  background-repeat: no-repeat;
  background-size: cover;
}

/* MOVIES + DESPLEGABLE SUAVE CON HOVER min 3h30min*/

.movies {
  display: flex;
  /* align-items: center; */
}

.movies__article {
  position: relative;
}
.movies__image {
  width: 100%;
  height: auto;
}
.movies__image::after {
  content: linear-gradient(transparent 50%, #000000);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.movies__data {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 1em 2.38em 0;
  margin-bottom: 3.1em;
}

/* comienza la zona del background rojo con las opiniones */

.opinions {
  display: flex;
  align-items: center;
  background-color: #e0011a;
}
.opinions__wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
}

/* comienza el grid */

.grid__images {
  display: grid;
}

/* comienzo del footer */

/* EL DIV PARA LA BARRA LATERAL STICKY SE TENDRIA QUE LLAMAR ASIDE, PORQUE ESTA A UN LATERAL, PERO COINCIDE CON LOS OTROS ASIDE, CHECKEARLO TODO. FALTA BUSCAR LOS SVG'S */
.stickys {
  position: fixed;
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
  /* TAMBIEN SE PUEDE PONER TRANSLATE 0 -50% */
  color: #ffffff;
}
.sticky1 {
  width: 60px;
  height: 60px;
}

/* COMILLAS SVG: <svg
              fill="#ffffff"
              version="1.1"
              id="Capa_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 98.829 98.829"
              xml:space="preserve"
              stroke="#ffffff"
              transform="rotate(180)matrix(-1, 0, 0, 1, 0, 0)"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <g>
                  <g>
                    <path
                      d="M96.76,41.603C91.511,22.831,78.562,9.204,65.975,9.204c-1.011,0-2.021,0.088-3.005,0.262 c-0.558,0.098-1.046,0.426-1.348,0.902c-0.301,0.479-0.386,1.061-0.233,1.605l2.591,9.268c0.25,0.895,1.113,1.5,2.01,1.459 l0.206-0.004c4.668,0,13.199,6.996,17.548,22.545c0.172,0.617,0.335,1.248,0.492,1.906c-4.882-2.416-10.706-2.975-15.98-1.506 C56.358,48.97,49.388,61.356,52.714,73.252c2.696,9.639,11.563,16.373,21.563,16.373c2.037,0,4.071-0.281,6.046-0.834 c7.846-2.193,13.745-8.707,16.611-18.338C99.521,61.764,99.456,51.249,96.76,41.603z"
                    ></path>
                    <path
                      d="M14.088,9.206c-1.009,0-2.02,0.086-3.003,0.26c-0.557,0.096-1.046,0.426-1.347,0.902 c-0.301,0.479-0.386,1.061-0.234,1.605l2.592,9.268c0.25,0.895,1.097,1.5,2.01,1.459l0.204-0.004 c4.668,0,13.2,6.996,17.549,22.545c0.173,0.621,0.336,1.252,0.492,1.906c-4.884-2.416-10.706-2.975-15.98-1.506 C4.475,48.97-2.497,61.356,0.831,73.252c2.696,9.639,11.563,16.373,21.563,16.373c2.037,0,4.071-0.281,6.047-0.834 c7.845-2.193,13.744-8.707,16.611-18.338c2.586-8.689,2.522-19.205-0.175-28.852C39.625,22.831,26.678,9.206,14.088,9.206z"
                    ></path>
                  </g>
                </g>
              </g>
            </svg> */

/* https://www.svgrepo.com/vectors/favorite/ */
