/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* CSS RESET */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
button figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* RESET END */

body {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

.background {
  background-color: #1a1d24;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 6;
}

svg {
  fill: currentColor;
  width: 16px;
  height: 16px;
}

a {
  color: #ffffff;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 13px;
  letter-spacing: 1px;
}

main {
  background-color: #f2f2f2;
}

.wrapper {
  max-inline-size: 1200px;
  margin: auto;
}

.header,
.main-menu,
.tools-menu,
.social-menu {
  display: flex;
}

header {
  margin-inline: auto;
  justify-content: space-between;
  align-items: center;
  height: 89px;
  padding-block: 44px 29px;
}

.logo {
  width: 88px;
  height: auto;
}
.main-menu a {
  font-family: "Roboto Condensed", sans-serif;
  /* gap: 26px; */
  font-size: 14px;
  text-transform: uppercase;
}

.main-menu li:not(:last-child)::after {
  content: "/";
  padding-inline: 25px;
}

/* TEMPORALMENTE DESACTIVADO)   .tools-menu {
  gap:100px;
  
} */

.search svg {
  fill: none;
}

.tools-menu .search:not(:last-child)::after {
  content: "|";
  display: inline-block;
  vertical-align: middle;
  padding-inline: 25px;
  color: #bdbdbd;
}

/* !!!!!!!!!PONER A TODOS LOS HOVER. svg:active (realmente no necesario),
.facebook svg:hover{
  color: #ffffff;
} */
.social-menu {
  gap: 26px;
}

.social-menu-twitter:hover {
  color: #1da1f3;
}

.social-menu-facebook:hover {
  color: #3a559f;
}

.social-menu-instagram:hover {
  color: #ce2e92;
}

.social-menu-youtube:hover {
  color: #e0011a;
}

.hero-banner {
  position: relative;
  display: flex;
  gap: 30px;
  padding-bottom: 200px;
}

.hero-banner__image {
  max-width: 75%;
  max-height: 610px;
  object-fit: cover;
  flex-basis: 74%;
}
.hero-banner__data {
  position: absolute;
  bottom: 200px;
  right: 0;
  background-color: #1a1d24;
  max-width: 400px;
  padding-top: 33px;
  padding-left: 29px;
}
.hero-banner__tittle {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 37px;
}

.hero-banner__description {
  color: #a8a8a8;
  font-size: 14px;
  line-height: 23px;
  margin-block: 22px;
}

.hero-banner__link {
  display: flex;
  align-items: center;
  gap: 6px;
}

.hero-banner__link:hover {
  color: #e0041d;
}

.hero-banner__link svg {
  display: inline-block;
  width: 20px;
  height: 20px;
  stroke: #e0041d;
}
/* empieza el aside */
.aside {
  width: 25%;
}

.aside__tittle {
  margin-bottom: 32px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 17px;
  text-transform: uppercase;
}

.aside__tittle::after {
  content: "";
  display: inline-block;
  width: 28px;
  height: 1px;
  margin-left: 16px;
  vertical-align: middle;
  background-color: rgb(224, 4, 29);
}

.aside__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.aside__item {
  display: flex;
  gap: 20px;
  font-family: "Roboto Condensed", sans-serif;
}

.aside__subtittle {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  margin-bottom: 4px;
  display: flex;
  text-transform: capitalize;
}

.aside__subtittle:hover {
  color: #a8a8a8;
}

.aside__date {
  color: #a8a8a8;
  font-size: 11px;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
}

.aside__date:hover {
  color: #ffffff;
}

.slider {
  display: flex;
  height: 400px;
  gap: 20px;
}
.slider-films {
  position: relative;
  top: -100px;
}

.slider-films__buttons {
  margin-bottom: 34px;
}

.slider-films__button {
  background-color: transparent;
  border: 0;
  color: #b8b8b8;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1.1px;
}

.slider-films__button:active,
.slider-films__button:hover {
  color: #ffffff;
}

.slider-films__button:not(:last-child):after {
  content: "/";
  display: inline-block;
  vertical-align: middle;
  padding-inline: 25px;
  color: #bdbdbd;
}

.slider__slide {
  display: flex;
  position: relative;
  align-items: end;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20%;
  height: 100%;
}

.slider__slide > div {
  padding: 18px;
}

.slider__slide-data h3 {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 17px;
}

.slider__slide svg {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  padding: 15px;
}

.slider__slide:hover svg {
  /* preguntar lo de los hijos directos slide > svg (div de por medio en este caso) */
  border: 2px solid rgba(255, 255, 255, 1);
}

.slider__slide-data a {
  /* padding: 18px; */
  font-family: "Roboto", sans-serif;
  display: inline-block;
  margin-top: 5px;
  font-size: 13px;
  padding-right: 2px;
  text-transform: capitalize;
  color: #bdbdbd;
}

.slide1 {
  background-image: linear-gradient(transparent 50%, #00000080),
    url(images/post-18-copyright-485x665.jpg);
}
.slide2 {
  background-image: linear-gradient(transparent 50%, #00000080),
    url(images/post-19-copyright-485x598.jpg);
}
.slide3 {
  background-image: linear-gradient(transparent 50%, #00000080),
    url(images/post-20-copyright-485x598.jpg);
}
.slide4 {
  background-image: linear-gradient(transparent 50%, #00000080),
    url(images/post-21-copyright-485x665.jpg);
}
.slide5 {
  background-image: linear-gradient(transparent 50%, #00000080),
    url(images/post-22-copyright-485x665.jpg);
}

.bg-image {
  background-image: url(images/bg_samurai.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 80px;
}
.bg-image::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 80px;
  background-color: rgba(255, 255, 255);
  position: absolute;
  top: -80px;
}
.releases {
  display: flex;
  justify-content: end;
  align-items: center;
  min-height: 511px;
  color: #1a1d24;
}

.releases__article {
  width: 50%;
}

.releases__title {
  display: flex;
  flex-direction: column;
  gap: 34px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  color: #737373;
  margin-bottom: 2.3em;
}

.releases__title::before {
  /* asi es como se hacen las rallitas de colores como separadores */
  content: "";
  display: inline-block;
  width: 48px;
  height: 1px;
  background-color: rgb(224, 4, 29);
}

.releases__subtitle {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 37px;
  margin-bottom: 23px;
  text-transform: uppercase;
}

.releases__info {
  display: inline-block;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 2.3em;
}

.releases__info span:first-child {
  margin-right: 2.8em;
}

.releases__description {
  font-family: "Roboto", sans-serif;
  color: #737373;
  font-size: 15px;
  margin-bottom: 2.3em;
  text-align: start;
}

.releases__actions {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.releases__link svg {
  margin-bottom: -3px;
}

.releases__link {
  color: #1a1d24;
}

.releases__link:first-child {
  color: #e0041d;
  margin-right: 20px;
  gap: 2px;
}
.portraits {
  display: flex;
  height: 400px;
}

.portraits__films {
  display: flex;
  position: absolute;
  align-items: start;
  background-repeat: no-repeat;
  background-size: cover;
}

/* MOVIES + DESPLEGABLE SUAVE CON HOVER min 3h30min*/

.movies {
  display: flex;
  /* align-items: center; */
}

.movies__article {
  position: relative;
  background-color: #e0011a;
}

.movies__image {
  width: 100%;
  height: auto;
}
.movies__article::before {
  /* a las imagenes no se les puede hacer ni un after ni un before!! */
  content: "";
  background: linear-gradient(transparent 50%, #00000080);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.movies__data {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 1em 2.38em 0;
  margin-bottom: 3.1em;
  transition: all 0.5s;
}

h3.movies__title::before {
  content: "";
  display: inline-block;
  width: 44px;
  height: 1px;
  background-color: #f8b350;
}
.movies__title {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 27px;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 0.2px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.movies__genre {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  text-transform: capitalize;
  color: #bdbdbd;
}
.movies__actions {
  position: relative;
  bottom: -40px;
  opacity: 0;
  /* transition: all 0.5s; */
}

.movies__article:hover .movies__actions {
  bottom: -30px;
  opacity: 1;
}

.movies__article:hover .movies__data {
  bottom: 60px;
}

.movies__links {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 11px;
  color: #ffffff;
  text-transform: uppercase;
}

.movies__links svg {
  display: inline-block;
  width: 20px;
  height: 20px;
  stroke: #f8b350;
  border-radius: 100%;
  background-color: rgb(46, 48, 54);
  justify-content: center;
  margin-bottom: -5px;
  margin-right: 5px;
  margin-left: 5px;
}

/* comienza la zona del background rojo con las opiniones */

.opinions {
  display: flex;
  align-items: center;
  background-color: #e0041d;
  /* height: 511px;
  width: 1903px; */
}

.opinions__wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 30px;
  overflow-x: auto;
  padding-block: 120px;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.opinions__opinion {
  flex-shrink: 0;
  /* flex-basis: 33%; */
  width: calc(33.333% - 30px);
  /* el width se puede utilizar en vez del flex basis (PERO lo tuve que poner al 30-31% para poder ver todo el texto... */
  text-align: center;
  scroll-snap-align: start;
}

.opinions__image {
  border-radius: 50%;
}

.opinions__image-box {
  position: relative;
}

.opinions__image-box::after {
  content: url(images/quoteblancasvg.svg);
  position: absolute;
  bottom: -20px;
  left: 50%;
  display: inline-block;
  width: 25px;
  height: 23px;
  translate: -50%;
  background-color: #1a1d24;
  border-radius: 50%;
  padding: 6px;
}

.opinions__text {
  margin-block: 46px 1.85em;
  /* line-height: 1.5em; */
  /* font-size: 1.25em; */
  font-size: 20px;
  text-align: center;
  font-family: "Lora", serif;
  color: #ffffff;
  line-height: 30px;
}

.opinions__name {
  margin-bottom: 8px;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 1px;
  font-weight: 700;
}

.opinions__job {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

/* comienza el grid sesion */

.news {
  padding-block: 120px;
}

.news__title {
  display: flex;
  flex-direction: column;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 37px;
  letter-spacing: -0.3px;
  gap: 34px;
  color: #1a1d24;
  text-transform: uppercase;
}

.news__title::before {
  content: "";
  display: inline-block;
  height: 1px;
  width: 48px;
  background-color: #e0041d;
}

.news__description {
  line-height: 1.1em;
  margin-block: 8px 42px;
  color: #737373;
  font-size: 15px;
}

.news__grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 30px;
  grid-auto-rows: 270px;
}

.news__gridarticle {
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 1em 1.5em;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  /* padding: 2.1em 1.9em; */
}

.news__gridarticle.article1 {
  grid-row: span 2;
}

.news__gridarticle.article4 {
  grid-column: span 2;
}

.article1 {
  font-size: 37px;
  background-image: linear-gradient(rgb(0 0 0 / 0.5), rgb(0 0 0/ 0.5)),
    url(images/post-3-copyright-1170x658.jpg);
}

.article2 {
  background-image: linear-gradient(rgb(0 0 0 / 0.5), rgb(0 0 0/ 0.5)),
    url(images/post-12-copyright-760x428.jpg);
  font-size: 17px;
}

.article3 {
  background-image: linear-gradient(rgb(0 0 0 / 0.5), rgb(0 0 0/ 0.5)),
    url(images/post-5-copyright-760x428.jpg);
  font-size: 17px;
}

.article4 {
  background-image: linear-gradient(rgb(0 0 0 / 0.5), rgb(0 0 0/ 0.5)),
    url(images/post-6-copyright-760x428.jpg);
  font-size: 24px;
}

.news__gridcategory {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 11px;
  color: #f8b350;
  margin-bottom: 20px;
}

.news__gridtitle {
  color: #ffffff;
  margin-bottom: 20px;
}
.news__griddata {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 11px;
  color: #d2d2d2;
  letter-spacing: 1px;
}

.news__date {
  margin-right: 10px;
}

.news__likes {
  color: #ffffff;
  margin-right: 2.75px;
}
.news__comments {
  color: #ffffff;
  margin-right: 2.75px;
}

.news__comments svg {
  margin-bottom: -3px;
}

.news__likes svg {
  margin-bottom: -3px;
}

.post_counters_number {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 11px;
  color: #d2d2d2;
  margin-right: 2.75px;
}

.post_counters_label {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 11px;
  color: #d2d2d2;
  margin-right: 2.75px;
}
/* comienzo del footer */

.footer__wrapper {
  background-color: #1a1d24;
  color: #b8babb;
  padding-block: 120px;
  display: grid;
  /* grid-template-columns: 1fr 0.5fr 0.75fr 1fr; */
  grid-template-columns: 2fr 1fr 1.5fr 1.5fr;
  /* grid-gap: 50px; */
}
.footer__data {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: start;
  padding: 15px;
  margin: 9px;
  /* font-family: "Roboto Condensed", sans-serif; */
}

.footer__rights {
  margin-top: 30px;
  font-family: "Lora", "serif";
  font-size: 14px;
  color: #a8a8a8;
  font-weight: 400;
}

.footer__link__rights {
  text-transform: capitalize;
  font-family: "Lora", "serif";
  font-size: 14px;
  color: #a8a8a8;
  font-weight: 400;
}

.footer__title {
  margin-bottom: 17px;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 17px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.footer__title::after {
  content: "";
  display: inline-block;
  background-color: #e0041d;
  width: 28px;
  height: 1px;
  margin: -1px 0px 0px 16px;
}
.footer__links {
  margin-top: 9px;
  margin-bottom: 9px;
  text-align: start;
  font-family: "Lora", serif;
  text-transform: capitalize;
  font-size: 14px;
  color: #a8a8a8;
}

.footer__email {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ffffff;
  letter-spacing: 2.2px;
  padding: 7px 35px 17px 0px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  color: #ffffff;
  caret-color: #ffffff;
}

.footer__email:focus {
  border-color: #ffffff;
  outline: none;
}

.footer__social__svg {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: 40px 40px 40px 0px;
  color: #ffffff;
}

/* .footer__social__svg:hover {

}  */

.footer__social__svg .twitter {
  padding: 10px;
  line-height: 0;
  background-color: #1da1f3;
  border-radius: 50%;
}

.footer__social__svg .facebook {
  padding: 10px;
  line-height: 0;
  background-color: #3a559f;
  border-radius: 50%;
}

.footer__social__svg .instagram {
  padding: 10px;
  line-height: 0;
  background-color: #ce2e92;
  border-radius: 50%;
}

.footer__social__svg .youtube {
  padding: 10px;
  line-height: 0;
  background-color: #e0011a;
  border-radius: 50%;
}
/* ASIDE BAR (FIXED A TODA LA PAG)*/
.asidebar {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.asidebar__container {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: center;
  justify-content: center;
}
.asidebar__container svg {
  margin-right: 7px;
  margin-bottom: 5px;
}
.asidebar__container .carrito {
  width: 60px;
  height: 60px;
  background-color: #e0041d;
  color: #e0041d;
  align-items: center;
  display: flex;
  justify-content: center;
}

.asidebar__container .gallery {
  width: 60px;
  height: 60px;
  background-color: #e0041d;
  color: #e0041d;
  align-items: center;
  display: flex;
  justify-content: center;
}

.asidebar__container .hidebar {
  width: 60px;
  height: 60px;
  background-color: #e0041d;
  color: #e0041d;
  align-items: center;
  display: flex;
  justify-content: center;
}

/* https://www.svgrepo.com/vectors/favorite/ */
